# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.nav
*.snm
*.vrb

# Mac OS files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# LaTeX build directories
_build/
latex.out/
*.pdf

# VSCode settings (optional, if using VSCode)
# .vscode/ necessary for the keybindings and tasks

# Python cache (if any scripts)
__pycache__/

# ignore the ignore folder
_ignore/

# only allow the ws_latex/test folder, ignore all other folders
ws_latex/*
!ws_latex/test/
